**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.gitignore
**/.dockerignore
**/Dockerfile
**/README.md
**/*.md
**/*.user
**/*.suo
**/*.sln.docstates
**/BenchmarkDotNet.Artifacts
**/TestResults
**/coverage
**/logs
**/log
**/publish
